html, body {
  margin: 0;
  min-width: 1200px;
  font-family: Roboto Condensed, serif;
  font-style: normal;
  font-weight: 300;
  background-color: white;
}

@font-face {
  font-family: "balqis-script";
  src: url("../fonts/Balqis.woff2") format("woff2"), url("../fonts/Balqis.woff") format("woff"), url("../fonts/Balqis.ttf") format("truetype");
}
.page-wrap {
  width: 80%;
  margin: 0 auto;
}

.beautiful-font {
  font-family: balqis-script, serif;
  font-style: normal;
  font-weight: normal;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 12rem;
  height: 12rem;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

section {
  min-height: 500px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.block-title {
  margin-top: 100px;
  margin-bottom: 50px;
}
.block-title .title {
  margin: 0;
  color: #E2AB3F;
  font-size: 5em;
}
.block-title .title-text {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1.25em;
  width: fit-content;
}

.float-fix {
  clear: both;
}

header {
  min-width: 100%;
  min-height: 100vh;
  background: url("../img/MainPhoto.jpg") fixed no-repeat;
  background-size: cover;
  color: black;
}
header .header-top {
  margin-bottom: 25vh;
  padding-top: 35px;
  font-weight: normal;
}
header .header-top .main-menu {
  float: left;
}
header .header-top .main-menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
header .header-top .main-menu li {
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
  font-size: 18px;
}
header .header-top .phone-number {
  float: right;
}
header .header-top .phone-number::before {
  --phone-size: 20px;
  background: url("../img/phone.svg") center no-repeat;
  background-size: var(--phone-size);
  display: inline-block;
  width: var(--phone-size);
  height: var(--phone-size);
  content: "";
  vertical-align: middle;
  margin-right: 5px;
}
header .promo {
  margin: 0 auto;
  text-align: center;
}
header .promo .promo-title {
  margin: 0;
  font-size: 12.5em;
}
header .promo .promo-text {
  margin: 0 auto;
  max-width: fit-content;
  transform: translate(200px, -65px);
  font-style: italic;
  font-weight: 300;
  font-size: 3em;
}

.fairy-tail .block-title .title-text {
  transform: translate(150px, -25px);
}
.fairy-tail .block-data .carousel {
  float: left;
  min-width: 50%;
  max-width: 50%;
  position: relative;
}
.fairy-tail .block-data .carousel img {
  width: 100%;
}
.fairy-tail .block-data .prev-arrow, .fairy-tail .block-data .next-arrow {
  /*display: inline-block;*/
  position: absolute;
  width: 70px;
  height: 70px;
  /*background-color: red;*/
  z-index: 1;
}
.fairy-tail .block-data .prev-arrow:hover, .fairy-tail .block-data .next-arrow:hover {
  color: black;
  cursor: pointer;
}
.fairy-tail .block-data .prev-arrow {
  left: 10px;
  top: 50%;
}
.fairy-tail .block-data .next-arrow {
  right: 10px;
  top: 50%;
}
.fairy-tail .block-data .block-text {
  float: left;
  max-width: 35%;
  margin-left: 50px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
}
.fairy-tail .block-data .block-text p, .fairy-tail .block-data .block-text h3 {
  margin: 0 0 5vw;
}

.our-trip .block-title .title-text {
  transform: translate(200px, -25px);
}

.hotel .block-title .title-text {
  transform: translate(100px, -25px);
}

.price .block-title .title-text {
  transform: translate(100px, -25px);
}

/*# sourceMappingURL=main.css.map */
