:root {
    --min-width: 1200px;
    --main-width: 1000px;
}

html, body {
    margin: 0;
    min-width: var(--min-width);

    font-family: Roboto Condensed, serif;
    font-style: normal;
    font-weight: normal;

    background-color: white;
}

@font-face{
    font-family:"balqis-script";
    src:url("../fonts/Balqis.woff2") format('woff2'),
    url("../fonts/Balqis.woff") format('woff'),
    url("../fonts/Balqis.ttf") format('truetype');
}

.page-wrap {
    width: var(--main-width);
    margin: 0 auto;
}

section {
    margin-top: 100px;
    min-height: 500px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.block-title .title {
    margin: 0;
    color: #E2AB3F;
    font-size: 5em;
}

.block-title .title-text {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 1.25em;
}

/* region Header */

header {
    min-width: 100%;
    min-height: 100vh;
    background: url("../img/MainPhoto.jpg") fixed no-repeat;
    background-size: cover;
    color: black;

    /* TODO пофиксить баг с полосой справа */
}

.header-top {
    margin-bottom: 25vh;
    padding-top: 35px;
}

.main-menu {
    float: left;
}

.main-menu ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.main-menu li {
    display: inline-block;
    margin-right: 35px;
    vertical-align: top;
    font-size: 18px;
}

.phone-number {
    float: right;
}

.phone-number::before {
    --phone-size: 20px;
    background: url("../img/phone.svg") center no-repeat;
    background-size: var(--phone-size);
    display: inline-block;
    width: var(--phone-size);
    height: var(--phone-size);
    content: "";
    vertical-align: middle;
    margin-right: 5px;
}

.promo {
    margin: 0 auto;
    text-align: center;
}

.promo-title {
    margin: 0;
    font-size: 12.5em;
}

.promo-text {
    margin: 0;
    transform: translate(200px, -65px);
    font-style: italic;
    font-weight: 300;
    font-size: 3em;
}

/*endregion*/

/* region Fairy tail */

.fairy-tail .block-title .title-text {
    transform: translate(150px, -25px);
}

/* endregion */

/* region Our trip */

.our-trip .block-title .title-text {
    transform: translate(200px, -25px);
}

/* endregion */

/* region Hotel */

.hotel .block-title .title-text {
    transform: translate(100px, -25px);
}

/* endregion */

/* region Price */

.price .block-title .title-text {
    transform: translate(100px, -25px);
}

/* endregion */

/* region Footer */

/* endregion */

.beautiful-font {
    font-family: balqis-script, serif;
    font-style: normal;
    font-weight: normal;
}

