@use '../abstracts/mixins' as *;

footer {
  height: 100vh;
  width: 100vw;
  background: url("img/MainPhoto.jpg") no-repeat bottom center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .contacts {
    @include size(auto, 50vh);
    background-image: url("img/balloon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}