@use '../abstracts/colors' as *;

.section-header {
  margin: 2rem 1rem;
  position: relative;

  h1 {
    color: $clr-accent-300;
  }

  p {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 5em;
  }
}